<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<!-- Control Node dropdown -->
<div class="col-md-3">
  <div class="form-group">
    <div class="form-group__text select">
      <label class="text-turquoise text-bold">Control nodes</label>
      <select (change)="onSelect($event.target.value)">
          <option value="0">--Select--</option>
          <option *ngFor="let nodes of controlNodes" value= {{nodes.id}}>{{nodes.name}}</option>
        </select>
    </div>
  </div>
</div>

<!-- Manage Node dropdown -->
<div class="col-md-3">
  <label class="text-turquoise text-bold">Managed nodes</label>
  <ng-select [items]="managedNodes" bindLabel="name" bindValue="id" [multiple]="true" [closeOnSelect]="true"
    [hideSelected]="true" [(ngModel)]="selectedOption">
  </ng-select>

</div>