<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<!-- Control Node dropdown -->
<label>Control nodes</label>
<select [(ngModel)]="selectedOption" (change)="onSelect($any($event.target).value)">
  <option value="0">--Select--</option>
  <option *ngFor="let nodes of controlNodes" value= {{nodes.id}}>{{nodes.name}}</option>
</select>

<!-- Manage Node dropdown -->
<div class="col-md-3">
  <label>Managed nodes</label>
  <select>
    <option value="0">--Select--</option>
    <option *ngFor="let node of managedNodes " value= {{node.id}}>{{node.name}}</option>
  </select>
</div>